
pleaseignoreme.txt
Compiler/testing.c
.vscode/settings.json
Compiler/a.exe
Compiler/Line.exe
Compiler/Line.exe
Compiler/tempCodeRunnerFile.c
Compiler/testing.exe
Compiler/Line.exe
Compiler/Line.exe
Compiler/Fibonacci/
Simulator/.vscode/launch.json
Simulator/.vscode/settings.json
Simulator/.vscode/tasks.json
Simulator/cycles.txt
*.txt
Simulator/fib.asm
Simulator/Line.c
Simulator/Line.h
Simulator/monitor.yuv
Simulator/simulator.exe
Simulator/testing.c
Compiler/Fibonacci/memin.txt
.vscode/tasks.json
.vscode/launch.json
Simulator/.vs/silmulator/v17/.suo
Simulator/.vs/silmulator/v17/Browse.VC.db
Simulator/.vs/silmulator/v17/Browse.VC.db-shm
Simulator/.vs/silmulator/v17/Browse.VC.db-wal
Simulator/.vs/silmulator/v17/Browse.VC.opendb
Simulator/.vs/silmulator/v17/ipch/AutoPCH/5e6a469abd4de0b/HEADER.ipch
Simulator/.vs/silmulator/v17/ipch/AutoPCH/66606dd067e7ba2b/INSTRUCTION.ipch
Simulator/.vs/silmulator/v17/ipch/AutoPCH/771075ae0a4224ab/DICT.ipch
Simulator/.vs/silmulator/v17/ipch/AutoPCH/88c3a32e391e142f/DICT.ipch
Simulator/.vs/silmulator/v17/ipch/AutoPCH/9daa368a7e51a3ab/TESTING.ipch
Simulator/.vs/silmulator/v17/ipch/AutoPCH/b7de2c3a4c7ee713/CONSOLEAPPLICATION1.ipch
Simulator/.vs/silmulator/v17/ipch/AutoPCH/ca742d5331d09aec/SIMULATOR.ipch
Simulator/.vs/silmulator/v17/ipch/AutoPCH/ca74385331d0ad9d/SIMULATOR.ipch
Simulator/.vs/silmulator/v17/ipch/AutoPCH/ef8a29a3a8585fa7/INSTRUCTION.ipch
Simulator/.vs/silmulator/v17/ipch/AutoPCH/f4a23d1534b3d31/SIMULATOR.ipch
Simulator/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
Simulator/ConsoleApplication1/ConsoleApplication1.vcxproj
Simulator/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
Simulator/ConsoleApplication1/ConsoleApplication1.vcxproj
Simulator/ConsoleApplication1/ConsoleApplication1.vcxproj
Simulator/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
Simulator/ConsoleApplication1/x64/Debug/ConsoleA.148c5fc4.tlog/CL.command.1.tlog
Simulator/ConsoleApplication1/x64/Debug/ConsoleA.148c5fc4.tlog/CL.read.1.tlog
Simulator/ConsoleApplication1/x64/Debug/ConsoleA.148c5fc4.tlog/CL.write.1.tlog
Simulator/ConsoleApplication1/x64/Debug/ConsoleA.148c5fc4.tlog/link.command.1.tlog
Simulator/ConsoleApplication1/x64/Debug/ConsoleA.148c5fc4.tlog/link.read.1.tlog
Simulator/ConsoleApplication1/x64/Debug/ConsoleA.148c5fc4.tlog/link.write.1.tlog
Simulator/ConsoleApplication1/x64/Debug/ConsoleApplication1.ilk
Simulator/ConsoleApplication1/x64/Debug/ConsoleApplication1.log
Simulator/ConsoleApplication1/x64/Debug/dict.obj
Simulator/ConsoleApplication1/x64/Debug/instruction.obj
Simulator/ConsoleApplication1/x64/Debug/simulator.obj
Simulator/ConsoleApplication1/x64/Debug/simulator.obj.enc
Simulator/ConsoleApplication1/x64/Debug/testing.obj
Simulator/ConsoleApplication1/x64/Debug/vc143.idb
Simulator/ConsoleApplication1/x64/Debug/vc143.pdb
Simulator/x64/Debug/ConsoleApplication1.exe
Simulator/x64/Debug/ConsoleApplication1.pdb
Simulator/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
Simulator/ConsoleApplication1/ConsoleApplication1.vcxproj
Simulator/x64/Debug/ConsoleApplication1.pdb
Simulator/x64/Debug/ConsoleApplication1.exe
Simulator/ConsoleApplication1/x64/Debug/vc143.pdb
Simulator/ConsoleApplication1/x64/Debug/vc143.idb
Simulator/ConsoleApplication1/x64/Debug/simulator.obj.enc
Simulator/ConsoleApplication1/x64/Debug/simulator.obj
Simulator/ConsoleApplication1/x64/Debug/instruction.obj
Simulator/ConsoleApplication1/x64/Debug/ConsoleApplication1.log
Simulator/ConsoleApplication1/x64/Debug/ConsoleApplication1.ilk
Simulator/ConsoleApplication1/x64/Debug/ConsoleA.148c5fc4.tlog/link.read.1.tlog
Simulator/ConsoleApplication1/x64/Debug/ConsoleA.148c5fc4.tlog/CL.write.1.tlog
Simulator/ConsoleApplication1/x64/Debug/ConsoleA.148c5fc4.tlog/CL.read.1.tlog
Simulator/.vs/silmulator/v17/ipch/AutoPCH/b98066e1fd3c3863/TESTING.ipch
Simulator/ConsoleApplication1/debug.json
Simulator/ConsoleApplication1/AHK.ahk
*.pdb
*.enc
*.obj
*.log
